REACT_APP_API_URL=https://projecturl.onrender.com
NODE_ENV=development
PORT=3000
REACT_APP_SUPABASE_URL=https://databaseurl.supabase.co
REACT_APP_SUPABASE_ANON_KEY=abcjeneiobeibiobioeuhbiohfbe
SUPABASE_SERVICE_ROLE_KEY=abcdefr=ghijklmn.ajbjbfojb